.classA {
    width: 100%;
    overflow: hidden;
    height: 380px;
}

.classB {
    width: 80%;
    overflow: scroll;
    height: 500px;
}

#red-id {
    width: 50px;
    height: 50px;
    background-color: red;
}

.orange-id {
    width: 50px;
    height: 50px;
    background-color: orange;
}

.photo-column {
    background-color: cadetblue;
    height: 900px;
}

#photo-gallery {
    background-color: darkcyan;
    height: 900px;
}

.photo-sm {
    width: 100%;
    height: 300px;
    background-color: black;
    margin-top: 20px;
}

.photo-big {
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
}

@media (min-width: 575.98px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}
